---
interface Props{
    name:string
}

const {name} = Astro.props
---

<span class="rounded-e-full rounded-s-full bg-green-800 px-4 border border-green-200 text-justify ">    
    <p class="text-white text-sm">{name}</p>    
</span>