---
interface Props{
    name:string
}

const {name} = Astro.props
---

<span class="rounded-e-full rounded-s-full bg-gray-800 px-4 border border-blue-200">    
    <p class="opacity-70 text-slate-100 text-sm">{name}</p>    
</span>