---
import ItemExperience from "./ItemExperience.astro"

const DATA_EXPIRIENCE=[
    {
        title:"Analista de Sistemas",
        place:"Maquila Internacional de Confección",    
        status:"Jun2022 - Actualmente...",
        description:"Reponsable de desarrollar soluciones tecnológicas en el sector textil. Brindar soporte a los desarrollos realizados.",
    },
    {
        title:"Freelance",
        place:"Ebenttech",    
        status:"Jun2022 - Actualmente...",
        description:"Desarrollo e implementación de software. Desarrollo de landing page.",
    },
    {
        title:"Soporte técnico",
        place:"Binary Soluciones Informáticas",
        status:"Oct2021 - May2022",
        description:"Soporte técnico del software a clientes. Realización de formaciones. Realización del manual técnico del software.",
    }
]

---

<div class="flex flex-row items-center gap-5 mb-10">
    <svg   xmlns="http://www.w3.org/2000/svg"  width="54"  height="54"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-briefcase"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 7m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z" /><path d="M8 7v-2a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v2" /><path d="M12 12l0 .01" /><path d="M3 13a20 20 0 0 0 18 0" /></svg>
    <h3 class="text-3xl font-bold">Experiencia laboral</h3>
</div>

<ol class="relative border-s border-gray-700  mt-2">     
    {
        DATA_EXPIRIENCE.map(e=>(
            <ItemExperience title={e.title} place={e.place} status={e.status} description={e.description} />
        ))
    }             
 
</ol>

