<header class="sticky top-0 z-50  flex justify-center items-center py-5 container mx-auto">    
    <nav class=" border-collapse shadow-lg bg-slate-700 px-4 py-2 rounded-l-full rounded-r-full flex flex-row gap-x-10 opacity-80 text-sm">
        <a class="" href="/">Home</a>
        <a href="/about">Sobre</a>
        <a href="/projects">Proyectos</a>
        <a href="/contact">Contacto</a>
    </nav>
</header>

